{% extends 'admin/base.html.twig' %}

{% block title %}Administration des commandes{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Liste des commandes</h1>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Client</th>
                    <th>Pizzas</th>
                    <th>Livraison</th>
                    <th>État</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for order in pagination.data %}
                    <tr>
                        <td>#{{order.id}}</td>
                        <td>{{order.date | date('Y-m-d H:i')}}</td>
                        <td>{{order.customer.firstName}} {{order.customer.lastName}}</td>
                        <td>
                            <ul>
                            {% for orderItem in order.orderItems %}
                                <li><b>
                                {% if orderItem.itemPizza.type == "POTM" %}
                                Pizza du mois
                                {% else %}
                                {{orderItem.itemPizza.name}}
                                {% endif %}
                                </b></li>
                                <ul>
                                {% if orderItem.supIngredients|length > 0 %}
                                    {% for supIngredient in orderItem.supIngredients %}
                                        <li><i>+ {{supIngredient.name}}</i></li>
                                    {% endfor %}
                                {% else %}
                                        <li><i>aucun ingrédient sup.</i></li>
                                {% endif %}
                                </ul>
                            {% endfor %}
                            </ul>
                        </td>
                        <td>
                            {% if order.ifDelivered %}
                            LIVRAISON
                            {% else %}
                            DÉPÔT
                            {% endif %}
                        </td>
                        <td>{{order.state}}</td>
                        <td>
                            <span class="badge badge-primary p-1">{{order.total}}€</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
       {{ pagination.display() }}
    </div>
{% endblock %}
