<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand mr-5" href="{{path('home')}}">
        <img src="/images/Pizza_Puzzle1.png" alt="Logo Pizzle's">
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{path('home')}}">ACCUEIL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path('menu')}}">MENU</a>
        </li>
        <li class="nav-item mx-3">
            <a class="nav-link btn menu-button" href="{{path('order')}}">COMMANDER</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
    {% if app.user %}
        <li class="nav-item dropdown dropleft ml-auto">
            <a class="nav-link dropdown-toggle btn menu-button" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{app.user.evaluationName}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{path('user_profile')}}">MON COMPTE</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{path('user_logout')}}">DECONNEXION</a>
            </div>
        </li>
    {% else %}
        <li class="nav-item ml-auto">
            <a class="nav-link btn menu-button" href="{{path('user_login')}}">CONNEXION</a>
        </li>
    {% endif %}
    </ul>
</nav>