{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
<style>
    a{color:#eee;}
</style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row my-5">
            <div class="col-6">
                <div class="cards bg-warning text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <i class="fas fa-pizza-slice fa-3x"></i>
                            </div>
                            <div class="col-8">
                                 <a href="{{path('admin_pizza_index')}}"><h4 class="card-title">{{stats.pizzas}} pizzas créées</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="cards bg-danger text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <i class="fas fa-pepper-hot fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{stats.ingredients}} ingrédients</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="cards bg-primary text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <i class="fas fa-users fa-3x"></i>
                            </div>
                            <div class="col-8">
                               <a href="{{path('admin_user_index')}}"><h4 class="card-title">{{stats.users}} utilisateurs</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="cards bg-secondary text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <i class="fas fa-paper-plane fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{stats.orders}} commandes</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="cards bg-info text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <i class="fas fa-comments fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{stats.reviews}} évaluations</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="my-5">Les commandes du jour</h1>
        <div class="row mt-2">
            {% for order in orders %}
                <div class="col-12 my-1 alert alert-primary">
                    <h2>Commande de {{order.customer.firstName}} {{order.customer.lastName}}, pour {{order.date | date("H:i Y-m-d")}}</h2>
                    <div class="row">
                        {% for item in order.orderItems %}
                            <div class="col mx-2 alert alert-success">
                                <h3>{{item.itemPizza.name}}</h3>
                                <p>Ingrédients supplémentaires :<br>
                                {% for supIngredient in item.supIngredients %}
                                    {% if supIngredient == "" %}Aucun ingrédient supplémentaire{% endif %}
                                    {% if not loop.first %} + {% endif %}{{supIngredient.name}}
                                {% endfor %}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="alert alert-danger">
                        TOTAL = {{order.total | format_currency('EUR', {rounding_mode: 'floor'})}} | Commande : {% if order.ifDelivered %}Livrée au {{order.customer.address}} {{order.customer.city}}{% else %}Retirée au comptoir{% endif %}
                    </div>
                    <a href="{{path('admin_order_ready', {'id':order.id})}}" class="btn btn-success">Commande préparée !</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
