{% extends 'admin/base.html.twig' %}

{% block title %}Modif de la pizza : {{pizza.name}}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modification de la pizza : {{pizza.name}}</h1>
        <a href="{{path('admin_pizza_index')}}" class="btn btn-secondary my-3">Retour</a>
        {{form_start(myForm)}}
        <div class="row">
            <div class="col">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">Modifier la pizza ?</h4>
                    </div>
                    <div class="card-body">
                        {{form_widget(myForm)}}
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-check"></i>
                            Modifier
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {{form_end(myForm)}}
    </div>
{% endblock %}

{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>
    // Gets all the fields from an Entity and puts them in a multiple select tag
        $(function () {
            $('.select-tags').select2({
                tags: true,
                tokenSeparators: [',', ' ']
            }).on('change', function (e) {
                let label = $(this).find("[data-select2-tag=true]");
                if (label.length && $.inArray(label.val(), $(this).val() !== -1)) {
                    $.ajax({
                        url: "/admin/pizza/edit/ajax" + label.val(),
                        type: "POST"
                    }).done(function (data) {
                        console.log(data)
                    })
                }
            });
            ;
        })

    </script>
{% endblock %}