{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="ml-5">SE CONNECTER</h1>
        <div class="row">
            <div class="col-4 offset-4">
                <form class="form-row login-container p-3 mb-3" action="{{path('user_login')}}" method="POST">
                    <div class="form-group col-12">
                        <label for="login-mail">ADRESSE MAIL</label>
                        <input required type="email" name="_username" id="login-mail" class="form-control" placeholder="Votre adresse mail" value="{{username}}">
                    </div>
                    <div class="form-group col-12">
                        <label for="login-password">MOT DE PASSE</label>
                        <input required type="password" name="_password" id="login-password" class="form-control">
                    </div>
                    <div class="form-group col-10 offset-1 text-center">
                        {% if hasError %}
                            <p id="login-errors">Adresse mail ou mot de passe incorrect</p>
                        {% endif %}
                    </div>
                    <div class="form-group col-8 offset-2 text-center">
                        <input type="submit" id="login-submit" class="btn" value="SE CONNECTER">
                    </div>
                </form>
                <i><a href="{{path('user_register')}}">PAS ENCORE DE COMPTE ? S'ENREGISTRER</a></i>
                {% for label, messages in app.flashes %}
                    <div class="alert alert-{{label}}">
                        {% for message in messages %}
                            <p>{{ message | raw }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}