{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="ml-5">MODIFICATION DU PROFIL</h1>
        <div class="row">
            <div class="col-6 offset-3 register-container p-3 my-3">
                {{form_start(passwordForm)}}
                    <div class="form-group col-12">
                        {{ form_label(passwordForm.oldPassword) }}
                        <br>
                        {{ form_widget(passwordForm.oldPassword) }}
                    </div>
                    <div class="form-group col-12">
                        {{ form_label(passwordForm.newPassword) }}
                        <div class="form-inline">
                            {{ form_widget(passwordForm.newPassword) }}
                            <a class="btn btn-secondary ml-2" id="update-reveal-password" href="#"><i class="fas fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="form-group col-8 offset-2 text-center">
                        <input type="submit" id="login-submit" class="btn" value="MODIFIER">
                    </div>
                {{form_end(passwordForm)}}
                
                {% for label, messages in app.flashes %}
                    <div class="alert alert-{{label}}">
                        {% for message in messages %}
                            <p>{{ message | raw }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('document').ready(function(){

            document.querySelector("#update-reveal-password").addEventListener("mousedown", function(event){
                event.preventDefault()
                let password = document.querySelector("#password_update_newPassword")
                if(password.type === "password"){
                    this.innerHTML = '<i class="fas fa-eye-slash"></i>'
                    password.type = "text"
                }else{
                    this.innerHTML = '<i class="fas fa-eye"></i>'
                    password.type = "password"
                }
            })
        });
    </script>
{% endblock %}