{% extends 'base.html.twig' %}

{% block title %}Faire un évaluation{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 offset-2">
                <h2>COMMANDE DU : {{order.date | date('d-m-Y h:i')}}</h2>
            </div>
            <div class="col-6 offset-3 review-container py-3">
                {{form_start(reviewForm)}}
                    <label class="col" for="review-content">COMMENTAIRE</label>
                    {{form_widget(reviewForm.review)}}
                    <span class="col-1 offset-10 text-right" id="review-content-length"></span>
                    <h3 class="col-12">NOTES</h3>
                    <div class="col-6 my-3 text-center stars-text">SERVICE</div>
                    <div class="col-6 my-3 stars">
                        <input type="radio" class="fas" name="review-service" value="10">
                        <input type="radio"  class="fas" name="review-service" value="9">
                        <input type="radio"  class="fas" name="review-service" value="8">
                        <input type="radio"  class="fas" name="review-service" value="7">
                        <input type="radio"  class="fas" name="review-service" value="6">
                        <input type="radio"  class="fas" name="review-service" value="5">
                        <input type="radio"  class="fas" name="review-service" value="4">
                        <input type="radio"  class="fas" name="review-service" value="3">
                        <input type="radio"  class="fas" name="review-service" value="2">
                        <input type="radio"  class="fas" required name="review-service" value="1">
                        {{form_widget(reviewForm.starsService)}}
                    </div>  
                    <div class="col-6 my-3 text-center stars-text">QUALITÉ</div>
                    <div class="col-6 my-3 stars">
                        <input type="radio"  class="fas" name="review-quality" value="10">
                        <input type="radio"  class="fas" name="review-quality" value="9">
                        <input type="radio"  class="fas" name="review-quality" value="8">
                        <input type="radio"  class="fas" name="review-quality" value="7">
                        <input type="radio"  class="fas" name="review-quality" value="6">
                        <input type="radio"  class="fas" name="review-quality" value="5">
                        <input type="radio"  class="fas" name="review-quality" value="4">
                        <input type="radio"  class="fas" name="review-quality" value="3">
                        <input type="radio"  class="fas" name="review-quality" value="2">
                        <input type="radio"  class="fas" required name="review-quality" value="1">
                        {{form_widget(reviewForm.starsQuality)}}
                    </div>
                    <div class="col-6 my-3 text-center stars-text">PONCTUALITÉ</div>
                    <div class="col-6 my-3 stars">
                        <input type="radio"  class="fas" name="review-ponctuality" value="10">
                        <input type="radio"  class="fas" name="review-ponctuality" value="9">
                        <input type="radio"  class="fas" name="review-ponctuality" value="8">
                        <input type="radio"  class="fas" name="review-ponctuality" value="7">
                        <input type="radio"  class="fas" name="review-ponctuality" value="6">
                        <input type="radio"  class="fas" name="review-ponctuality" value="5">
                        <input type="radio"  class="fas" name="review-ponctuality" value="4">
                        <input type="radio"  class="fas" name="review-ponctuality" value="3">
                        <input type="radio"  class="fas" name="review-ponctuality" value="2">
                        <input type="radio"  class="fas" required name="review-ponctuality" value="1">
                        {{form_widget(reviewForm.starsPunctuality)}}
                    </div>
                    <button input="submit" class="btn review-button col-2 offset-9 text-center p-2">ÉVALUER</button>
                {{form_end(reviewForm)}}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('document').ready(function(){
            
            document.querySelector("#review_review").addEventListener("keyup", getTextareaLength);
            function getTextareaLength(){
                document.querySelector("#review-content-length").textContent = 120 - (document.querySelector("#review_review").textLength)
            }
            getTextareaLength();

            document.querySelectorAll(".stars input").forEach(function(star){
                star.addEventListener("click", function(){
                    star.offsetParent.children[10].value = star.value
                    console.log(star.offsetParent.children[10].value)
                })
            })
        });
    </script>
{% endblock %}
